@import '/styles/variables.css';
@import '/styles/nav.css';
@import '/styles/layout.css';


.flex{
  display:flex;
}

.left-panel{
  margin-right: 1rem;
}
.right-panel{
  flex:1;
}

/* add some specing between buttons */
button,
dv4-custom-button{
  margin: 0rem 0.5rem 0.5rem 0rem;
}


@media only screen and (min-width: 800px) {
  .right-panel{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .left-panel{
    display: none;
  }
}