<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/favicon.png" sizes="16x16" type="image/png">
  <title>Custom elements - modal</title>
  <script src="/node_modules/@dv4all/icons/lib/dv4icons.cjs.js"></script>
  <script src="/node_modules/@dv4all/loaders/lib/dv4loaders.cjs.js"></script>
  <script src="/node_modules/@dv4all/web-components/lib/dv4wcp.cjs.js"></script>
  <script src="/styles/layout.js"></script>
  <script src="/components/sidebar.js"></script>
  <link rel="stylesheet" href="/components/index.css">
  <link rel="stylesheet" href="modals.css">
</head>
<body>

<!-- SEE styles/layout.js FOR IMPLEMENTATION-->
<dv4-page-header role="heading" aria-level="1"></dv4-page-header>

<main>
  <h2>Modal demo @dv4all/components</h2>
  <section class="flex">
    <section class="left-panel">
      <!-- SEE ./sidebar.js FOR IMPLEMENTATION-->
      <dv4-sidebar-menu></dv4-sidebar-menu>
    </section>
    <section class="right-panel">
      <div>
        <h3>What where the challenges?</h3>
        <p>
          This section has two modal examples.
          <ul>
            <li>Info modal: modal only displays information. All information
              in is passed using element attributes (title, subtitle, content).
            </li>
            <li>Action modal: this modal supports passing (action) buttons.
              All information is passed using named slots.
            </li>
          </ul>
          Look at the source code for all implementation details.
        </p>
      </div>
      <div>
        <h3>Implementation examples of info and action modals</h3>
        <p>
          <dv4-custom-button id="info-modal" primary>
            <dv4-icon-cog></dv4-icon-cog>
            Show info modal
          </dv4-custom-button>

          <dv4-custom-button id="action-modal">
            <dv4-icon-cogs></dv4-icon-cogs>
            Show action modal
          </dv4-custom-button>
        </p>
        <!-- NFO MODAL-->
        <dv4-info-modal
          img="/img/18-RDG-004_3A8A51069_m.jpg"
          title="Modal title"
          subtitle="To close modal use X button"
          content="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
        ></dv4-info-modal>

        <!--ACTION MODAL -->
        <dv4-action-modal>
          <span slot="title">Action modal with a longer title</span>
          <span slot="subtitle">Use YES button to close modal</span>
          <div slot="content">
            <p>This is content of the action modal. Here we explain something.</p>
            <p>
              To close this modal click on YES button. Note that other 2 buttons
              don't do much in this example.
            </p>
          </div>
          <div slot="nav" class="action-modal-nav">
            <dv4-custom-button primary>
              <dv4-icon-checkmark></dv4-icon-checkmark>
              <div class="btn-lbl">Yes</div>
            </dv4-custom-button>
            <dv4-custom-button>
              <dv4-icon-cogs></dv4-icon-cogs>
              <div class="btn-lbl">Maybe</div>
            </dv4-custom-button>
            <dv4-custom-button danger>
              <dv4-icon-cancel-circle></dv4-icon-cancel-circle>
              <div class="btn-lbl">No way!</div>
            </dv4-custom-button>
          </div>
        </dv4-action-modal>
      </div>
    </section>
  </section>
</main>

<!-- SEE styles/layout.js FOR IMPLEMENTATION-->
<dv4-page-footer></dv4-page-footer>

<script src="modals.js"></script>

</body>
</html>