<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/favicon.png" sizes="16x16" type="image/png">
  <title>Custom elements - select</title>
  <!-- <script src="/node_modules/@dv4all/icons/lib/dv4icons.cjs.js"></script>
  <script src="/node_modules/@dv4all/loaders/lib/dv4loaders.cjs.js"></script> -->
  <script src="/node_modules/@dv4all/web-components/lib/dv4wcp.cjs.js"></script>
  <script src="/styles/layout.js"></script>
  <script src="/components/sidebar.js"></script>
  <link rel="stylesheet" href="/components/index.css">
</head>
<body>

<!-- SEE styles/layout.js FOR IMPLEMENTATION-->
<dv4-page-header role="heading" aria-level="1"></dv4-page-header>

<main>
  <h2>Input demo @dv4all/components</h2>
  <section class="flex">
    <section class="left-panel">
      <!-- SEE ./sidebar.js FOR IMPLEMENTATION-->
      <dv4-sidebar-menu></dv4-sidebar-menu>
    </section>
    <section class="right-panel">
      <div>
        <h3>What where the challenges?</h3>
        <p>
          This is custom dropdown / select element.
          All data is passed using attributes.
          Options attribute is comma separated list of options.
          It supports missing-option which is shown as first 
          option and preselected. This option returns value -1.
          Other options return option value on custom event 'onChange'.
        </p>
      </div>
      <div>
        <h3>Example custom select</h3>
        <p>
          <dv4-text-input
            name="var-name"
            label="Your name"
            message="Type your first and last name"
            >
          </dv4-text-input>
          <dv4-select
            id="dv4-select-car"
            title="Select car"
            message="Select car from the list",
            missing-option="Missing answer"
            >
          </dv4-select>
          <dv4-select
            id="dv4-select-model"
            options=""
            message="Select model from the list"
            missing-option="Missing answer"
            >
          </dv4-select>
        </p>
        <div id="text-output"></div>
        <h3>Minimum markup</h3>
        <p>
          <dv4-select
            options="Option 1, Option 2, Option 3"
            >
          </dv4-select>
        <p>
        <h3>Using options array</h3>
        </p>
          <dv4-select
            id="select-list-demo">
          </dv4-select>
        </p>

      </div>
    </section>
  </section>
</main>

<!-- SEE styles/layout.js FOR IMPLEMENTATION-->
<dv4-page-footer></dv4-page-footer>

<script src="select.js"></script>

</body>
</html>