
nav{
  padding-top: 1rem;
}

a{
  text-decoration: none;
}

a.link{
  padding: 0.5rem;
  padding-left:0rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color:var(--color-primary,red);
}

a.link.active{
  color:var(--color-gold,green);;
}