
:root{
  --color-primary: #09434D;
  --color-primary-contrast: #E8EDEE;
  --color-warning: #931621;
  --color-accent: #CC582F;
  --color-green: #0F9AAA;
  --color-grey: #ccc;
  --color-gold: #CFBD55;

  --loader-message-font: Arial;
  --header-bg-color: #CC582F;
  --header-tx-color: var(--color-primary-contrast,#E8EDEE);
  --main-tx-color: var(--color-primary);
  --page-padding: 1rem 2rem;
  --footer-bg-color: var(--color-primary);
  --footer-tx-color: var(--color-primary-contrast,#E8EDEE);
}
